.cursor-light {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: var(--cor-primaria);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.4;
    filter: blur(100px);
    z-index: 9999;
}
@media (max-width: 767px) {
.cursor-light{
    display: none;
}
}