.servico-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 2.5rem;
    width: 390px;
    /* mais largo que alto */
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: transform 0.2s ease, background 0.3s ease;
}

.servico-card:hover {
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.15);
}

.servico-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servico-header h3 {
    font-family: 'titulo';
    font-size: 1.3rem;
    color: white;
}

.status {
    font-size: 0.85rem;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
}

.status.disponivel {
    background: rgba(0, 255, 0, 0.5);
    color: white;
    font-family: 'texto';
}

.status.em-breve {
    background: rgba(250, 19, 19, 0.5);
    color: white;
    width: 32.1%;
    font-family: 'texto';
}


.servico-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.servico-card li {
    color: white;
    font-size: 0.95rem;
    position: relative;
    padding-left: 1.2rem;
    font-family: 'texto';
    line-height: 1.5rem;
}

.servico-card li::before {
    content: url(src/assets/svg/check.svg);
    position: absolute;
    left: 0;
    filter: invert(79%) sepia(75%) saturate(746%) hue-rotate(78deg) brightness(103%) contrast(103%);
}

@media (max-width: 767px) {
.servico-card {
    padding: 2.5rem;
    width: 350px;
    /* mais largo que alto */
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: transform 0.2s ease, background 0.3s ease;
}

.servico-card:hover {
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.15);
}

.servico-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servico-header h3 {
    font-family: 'titulo';
    font-size: 1.1rem;
    color: white;
}

.status {
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
}

.status.disponivel {
    background: rgba(0, 255, 0, 0.5);
    color: white;
    font-family: 'texto';
}

.status.em-breve {
    background: rgba(250, 19, 19, 0.5);
    color: white;
    width: 27.7%;
    font-family: 'texto';
}


.servico-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.servico-card li {
    color: white;
    font-size: 0.8rem;
    position: relative;
    padding-left: 1.2rem;
    font-family: 'texto';
    line-height: 1.5rem;
}

}