.circulo:first-of-type {
    position: absolute;
    background: transparent;
    left: -17%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 75px solid var(--cor-segundaria);
    opacity: 0.45;
    filter: blur(5px) drop-shadow(0 0 15px var(--cor-segundaria));
    z-index: -1;
}

.titulo-projetos {
    font-family: 'titulo';
    color: white;
    margin-inline: var(--margem-padraoX);
    margin-block: 6rem;
    font-size: 6.5rem;
    margin-top: 10rem;
}

.cards-projetos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: var(--margem-padraoX);
    justify-items: center;
}

@media (max-width: 767px) {
    .circulo:first-of-type {
        position: absolute;
        background: transparent;
        left: -17%;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 20px solid var(--cor-segundaria);
        opacity: 0.45;
        filter: blur(5px) drop-shadow(0 0 15px var(--cor-segundaria));
        z-index: -1;
    }

    .titulo-projetos {
        font-family: 'titulo';
        color: white;
        text-align: justify;
        font-size: 3.5rem;
        margin-left: 1.5rem;
    }

    .cards-projetos {
        grid-template-columns: 1fr; /* Apenas uma coluna */
        gap: 0.5rem; /* Reduz o espaço entre os cards */
        margin: 1rem; /* Margem menor */
    }

}